{% extends "base.html" %}

{% block title %}Kategorie wydatków {% endblock %}

{% block body %}

    <div class="container">
	
	<h1 class="mt-4 col-md-8 mx-md-auto fs-2">Ustawienia </h1>
	<h2 class="mt-4 col-md-8 mx-md-auto fs-4">Kategorie wydatków </h2>
		<section>
			<div class="row mt-4 col-md-8 mx-md-auto">
				<p> Obecnie masz takie kategorie wydatków:</p>

						<table  class="table mt-3">
							<thead>	
								<tr>
									<th scope="col">Kategoria</th>
									<th scope="col">limit miesięczny [PLN]</th>
								</tr>
							</thead>
							<tbody>
								{% for  expenseRecord in expense %}
									<tr>
										<td>  {{ expenseRecord.expenseCatName }} </td>
										<td>  {{ expenseRecord.expenseLimit|number_format(2,'.','') }} </td>
									</tr>
								{% endfor %}
							</tbody>
						</table>

				
				<p class="mt-3"> Co chcesz zrobić: </p>
				<a href="/ExpenseSettings/addcategory"><input type="button" value="Dodaj nową kategorię"></a>
				<a href="/ExpenseSettings/changecategory"><input type="button" value="Edytuj nazwę kategorii"></a>
				<a href="/ExpenseSettings/deleteform"><input type="button" value="Usuń istniejącą kategorię"></a>
				<a href="/ExpenseSettings/generatelimit"><input type="button" value="Ustal limit"></a>
				
			</div>		
		</section>
	</div>
{% endblock %}
