<h1>Pierwszy krok do kontroli Twojego budżetu</h1>

<p> Witaj {{ name }}!</p>
<p> Dziękujemy za rejestrację w naszej aplikacji. </p>
<p> Kliknij <a href="{{ url }}">w ten link</a> żeby aktywować konto.</p>
<p> Jeśli nie rejestrowałeś się ostatnio w żadnej aplikacji, wystarczy że zignorujesz ten mail<p>

<p>=======================</p>
<h1> This is your first step to control your home budget</h1>

<p>Thank you {{ name }} for signing up. </p>
<p>Please <a href="{{ url }}">click here to activate your account</a>.</p>
<p>If you don't know a thing about this app, just ignore this mail<p>