{% extends "base.html" %}

{% block title %}Sign up{% endblock %}

{% block body %}
	<header>
			<h1 class="h1 text-center my-4 font-weight-bold text-uppercase ">  Planuj z nami swój budżet! </h1>
	</header>
	
	
	<div class="container">
		<section>
			<div class="row">
				<div class= "col-md-6 bg-custom py-4 my-1 mr-3" id="left"> 
					<p> Sukces! </p>
					<p> Rejestracja przebiegła pomyślnie</p>					
				</div>
				
				<div  class= "col-md-6 my-3 right" id="right"> 
						<p> Jeszcze tylko jeden krok do pełnej kontroli nad budżetem </p>
						<p> Sprwdź swój mail, żeby aktywować konto </p>
				</div>
			</div>
		</section>
    </div>

{% endblock %}
