{% extends 'base.html' %}

{% block title %} Menu {% endblock %}

{% block body %}

		<div class="container">		
			<section>
				<div class="row"> 
					<div class="col-md-8 mx-auto my-5">
						<p> Witaj ponownie! </p>
						<p> Widzę, że pracujesz nad swoim budżetem </p>
						<p> Co chcesz robić dalej?</p>
						<p class="text-justify"> Dodawaj przychody i wydatki, przeglądaj zestawienia i dzięki temu naucz się oczszędzać.</p>
						<p> Wybierz odpowiednią funkcję z menu powyżej</p>

					</div>
				</div>
			</section>
	</div>
	
{%endblock %}