{% extends 'base.html' %}

{% block title %} Wygeneruj bilans szczegółowy {% endblock %}

{% block body %}
<script src="/js/app.js"></script>
	
	<div class="container">			
		<section>
			<div class="row">	
				<h2 class="mt-4 col-md-8 mx-md-auto fs-2"> Wybierz zakres bilansu szczegółowego </h2>
				<form action="/Balancedetails/create" method ="post" class="mt-5 col-md-8 mx-md-auto" > 
					<label for="BParameters"> Parametry bilansu: </label>
					<select id="BParameters" name="BParameters" size="1" required>
						<option value=""> wybierz z listy </option>
						<option value="11" selected>bieżący miesiąc</option>
						<option value="21">poprzedni miesiąc</option>
						<option value="31">bieżący rok</option>
						<option value="41">zakres niestandardowy</option>
					</select>
						
					<div class="dates mt-3">
						<label>  Data od: <input type="date" name="Date1"  value="2020-01-01"></label>
						<label>  Data do: <input type="date" name="Date2" id="Date2" class="form__date"></label>	
					</div>
					
					<div class="mt-5">
						<input type="submit" value="Pokaż bilans">
					</div>
				</form>
			</div>
		</section>
	</div>
	
	
	
{%endblock %}