{% extends 'base.html' %}

{% block title %}Planuj z nami swój budżet! {% endblock %}

{% block body %}

	<header>
			<h1 class="h1 text-center my-4 font-weight-bold text-uppercase ">  Planuj z nami swój budżet! </h1>
		</header>
		
	<div class="container">	
		<section>
			<div class="row">
				<div class="col-md-6 bg-custom py-4 my-1" id="left"> 
					<p>Dziękujemy za skorzystanie z naszej aplikacji </p>
					<p> Zapraszamy ponownie!</p>
				
				</div>
				
				<div class="col-md-6 py-2 my-auto" id="right"> 
					<p> Nie masz jeszcze konta?  <a href="/signup/new" class="font-weight-bold">  Zarejestruj się </a> </p>
					<p> Masz konto? <a href ="/login" class="font-weight-bold"> Zaloguj się</a></p>
				</div>
			</div>
		</section>

	</div>

{% endblock %}
