{% extends "base.html" %}

{% block title %}Logowanie{% endblock %}

{% block body %}

   <header>
		<h1 class="h1 text-center my-4 font-weight-bold text-uppercase ">  Planuj z nami swój budżet! </h1>
	</header>
	
	<div class="container">
		<section>
			<div class="row">
				<div class= "col-md-6 bg-custom py-4 my-1 mr-3" id="left"> 
					<p>Chcesz zaoszczędzić pieniądze, ale nie wiesz jak się do tego zabrać? </p>
					<p> Nasza aplikacja pomoże Ci uporządkować wydatki i ocenić możliwości oszczędzania</p>
					<p class="quote">"To nie pieniądze dają szczęście, ale to, co dzięki nim można zrobić ze swoim życiem." 
					<p class="author">Lois Frankel</p>
				</div>
				
				<div class= "col-md-6 my-auto" id="right"> 
					<form action="/login/create" method="post">
						<p> Logowanie </p>
						
						<div class="input-group mb-3">
						  <span class="input-group-text " id="basic-addon1"> <i class="icon-user"></i></span>
						  <input type="email" d="inputEmail" name="email" placeholder="Podaj  mail" onfocus="this.placeholder=''" onblur="this.placeholder='Podaj mail'" aria-label="Username" aria-describedby="basic-addon1" required  value="{{email}}" >
						</div>
						
						<div class="input-group mb-3">
						  <span class="input-group-text " id="basic-addon3"> <i class="icon-lock"></i></span>
						  <input type="password" id="inputPassword" name="password" placeholder="Podaj hasło" onfocus="this.placeholder=''" onblur="this.placeholder='Podaj hasło'" aria-label="Username" aria-describedby="basic-addon3" required >
						</div>
	
						<div class="checkbox"> 
							<label>
								<input type="checkbox" name="remember_me" {% if remember_me %} checked="checked"{%endif%} /> Pamiętaj mnie 
							</label>	
						</div>
						 
						<input type="submit" value="Zaloguj się">
						<input type="reset" value="Wyczyść formularz">
						<p class="mt-2" > <a href ="/password/forgot">Nie pamiętasz hasła?</a></p>
					</form>
					<p class="mt-2" > <a href ="/">Strona główna</a></p>
				</div>
			</div>
		</section>


{% endblock %}
