{% extends "base.html" %}

{% block title %}Usuń kategorię{% endblock %}

{% block body %}

    <div class="container">
	
	<h1 class="mt-4 col-md-8 mx-md-auto fs-2">Ustawienia </h1>
	<h2 class="mt-4 col-md-8 mx-md-auto fs-4">Kategorie przychodów </h2>
		<section>
			<div class="row mt-4 col-md-8 mx-md-auto">
				<p> Wybierz z poniższej listy kategorię do usunięcia </p>
				<p> Rekordy dodane w tej kategorii pozostaną w bazie </p>
			
			<form action="/IncomeSettings/delete" method="post" class="col-md-8 mx-md-auto fs-2">
				{% for  incomeRecord in income %}
					<div class="form-check">
						<input class="form-check-input" type="radio" name="whatIncome2" id="whatIncome2" value= "{{  incomeRecord.categoryID }}" required>
						<label class="form-check-label" for="whatIncome2" >  {{ incomeRecord.incomeCatName }}</label>
					</div>
				{% endfor %}
				
				<div class="mt-5">
					<input type="submit" value="Wykonaj">
					<input type="reset" value="Anuluj">
				</div>
			</form>	
				
			</div>
			
			
		</section>
	</div>
{% endblock %}
