<!DOCTYPE html>
<html>
<head>
    <html lang="pl">
	<meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
	<meta name="description" content ="Aplikacja pomoże ci zapanować nad swoim domowym budżetem"/>
	<meta name="keywords" content="budżet, planowanie wydatków, zestawienia budżetowe"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet"> 
	
	 <link rel="stylesheet" href="/css/styles.css" />
	 <link rel="stylesheet" href="/css/fontello.css" type="text/css"/>
	 
	 
</head>
<body>
	<div class="container" >
	{% if current_user %}
		<nav class="navbar navbar-dark bg-nav navbar-expand-md mx-auto">
			
			<a class="navbar-brand" href="/Items/menu"><i class="icon-dollar"></i> YourBudgetApp</a>
			
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Przełącznik nawigacji">
			<span class="navbar-toggler-icon"></span>
			</button>
			
				<div class="collapse navbar-collapse" id="menu" > 
					<ul class="navbar-nav mx-auto">
						<li class="nav-item"><a class="nav-link" href="/Income/new">Dodaj przychód </a></li>
						<li class="nav-item"><a class="nav-link" href="/Expense/new">Dodaj wydatek</a></li>
						<li class="nav-item"><a class="nav-link" href="">Bilans </a>
							<ul class="nav-item">
								<li class="nav-item"><a class="nav-link" href="/Balance/new">Bilans ogólny</a></li>
								<li class="nav-item"><a class="nav-link" href="/Balancedetails/new">Bilans szczegółowy</a></li>
							</ul>
						</li>
						<li class="nav-item"><a class="nav-link" href="">Ustawienia </a>
							<ul class="nav-item" >
								<li class="nav-item"><a class="nav-link" href="/Profile/show">Profil </a></li>
								<li class="nav-item"><a class="nav-link" href="/IncomeSettings/show"> Kategorie przychodów</a></li>
								<li class="nav-item"><a class="nav-link" href="/ExpenseSettings/show"> Kategorie wydatków</a></li>
							</ul>
						</li>
						<li class="nav-item"><a class="nav-link" href="/logout"><i class="icon-logout"></i>Wyloguj się </a></li>
					</ul>
				</div>
			</nav>
			

	</div>
	
	{% endif %}
	
    {% for message in flash_messages %}
        <div class="alert alert-{{ message.type }}">
            {{ message.body }}
        </div>
    {% endfor %}

    {% block body %}
    {% endblock %}
	</div>
	
	{% block footer %}
	<footer> 
			<h3 class="h5 mt-4 text-center">Wszelkie prawa zastrzeżone &copy; 2021 Dziękuję za wizytę!</h3>
	</footer>
			{% endblock %}
			

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
	
	<script src="/js/jquery-3.1.1.min.js"></script>
	<script src="/js/app.js"></script>
	<script src="/js/dates.js"></script>
	<script src="/js/work.js"></script>
	<script src="/js/expenseLimits.js"></script>

 
	
		
</body>
</html>
